@use "variables";
@use "mixins";
// Buttons
%btnextend {
    display: inline-block;
    border: 1px solid;
    border-color: rgba(variables.$color_mercury, 0.5) rgba(variables.$color_bon_jour, 0.5)
        variables.$color_mischka;
    border-radius: 3px;
    text-decoration: none;
    background: variables.$white;
    color: variables.$color_shark;
    &:hover {
        box-shadow: 0 0 1px 0 rgba(variables.$color_shark, 0.5);
        color: variables.$red;
    }
}
.social-btn {
    padding: 6.46px;
    margin: 6.46px;
    border-radius: 100%;
    
    border: 0.1px solid rgba(0, 0, 0, 0.208);
    opacity: 0.88;
    @extend %btnextend;
}
.btn {
    padding: 10px 18px;
    @include mixins.font-rem(14);
    margin: 4px auto;
    @extend %btnextend;
    &.btn-success {
        background-color: variables.$success;
        color: variables.$white;
        border-color: variables.$success;
        &:visited {
            color: variables.$white;
        }
        &:hover {
            background-color: variables.$white;
            color: variables.$success;
        }
    }
    &.btn-warning {
        background-color: variables.$warning;
        color: variables.$white;
        border-color: variables.$warning;
        &:visited {
            color: variables.$white;
        }
        &:hover {
            background-color: variables.$white;
            color: variables.$warning;
        }
    }
    &.btn-danger {
        background-color: variables.$danger;
        color: variables.$white;
        border-color: variables.$danger;
        &:visited {
            color: variables.$white;
        }
        &:hover {
            background-color: variables.$white;
            color: variables.$danger;
        }
    }
    &.btn-info {
        background-color: variables.$info;
        color: variables.$white;
        border-color: variables.$info;
        &:visited {
            color: variables.$white;
        }
        &:hover {
            background-color: variables.$white;
            color: variables.$info;
        }
    }
}
.title .btn {
    margin: 10px;
    @include mixins.font-rem(16);
    font-weight: 300;
}
.post-list {
    .btn {
        @include mixins.font-rem(14);
    }
}

// hr break
hr {
    border: 0;
    height: 1px;
    opacity: 0.8;
    margin: 1em 0;
    background-image: -webkit-linear-gradient(
        left,
        variables.$color_gallery,
        variables.$color_stack,
        variables.$color_gallery
    );
    background-image: -moz-linear-gradient(
        left,
        variables.$color_gallery,
        variables.$color_stack,
        variables.$color_gallery
    );
    background-image: -ms-linear-gradient(
        left,
        variables.$color_gallery,
        variables.$color_stack,
        variables.$color_gallery
    );
    background-image: -o-linear-gradient(
        left,
        variables.$color_gallery,
        variables.$color_stack,
        variables.$color_gallery
    );
    &.hr-line {
        border: 0;
        height: 1px;
        opacity: 0.15;
        margin: 1em 0;
        background-image: -webkit-linear-gradient(
            left,
            variables.$color_gallery,
            variables.$color_stack,
            variables.$color_gallery
        );
        background-image: -moz-linear-gradient(
            left,
            variables.$color_gallery,
            variables.$color_stack,
            variables.$color_gallery
        );
        background-image: -ms-linear-gradient(
            left,
            variables.$color_gallery,
            variables.$color_stack,
            variables.$color_gallery
        );
        background-image: -o-linear-gradient(
            left,
            variables.$color_gallery,
            variables.$color_stack,
            variables.$color_gallery
        );
    }
}

// images and figures
img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
}
.img-circle {
    border-radius: 50%;
    border: 3px solid variables.$white;
    height: 150px;
    width: 150px;
}
.author-photo {
    background-color: transparent;
    width: 55%;
    margin-top: 9.5px;
}
.image-right {
    float: right;
    margin-left: 1em;
    margin-top: 0;
}
figure {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    @include mixins.clearfix();
    img {
        margin-bottom: 10px;
        @include mixins.rounded(4px);
    }
    &.half {
        @media only screen and (min-width: 62.5em) {
            img {
                width: calc(50% - 4px);
                float: left;
                margin-left: 1px;
                margin-right: 1px;
            }
            figcaption {
                clear: left;
            }
        }
    }
    &.third {
        @media only screen and (min-width: 62.5em) {
            img {
                width: calc(33.3% - 6px);
                float: left;
                margin-left: 1px;
                margin-right: 1px;
            }
            figcaption {
                clear: left;
            }
        }
    }
}
svg:not(:root) {
    overflow: hidden;
}

// keyboard tag
kbd {
    display: inline-block;
    margin: 0 1px;
    padding: 1px 8px;
    @include mixins.font-rem(10);
    font-weight: bold;
    color: variables.$color_fuscous_gray;
    vertical-align: middle;
    background-color: variables.$color_alabaster;
    border: solid 1px variables.$color_celeste;
    border-bottom-color: variables.$color_pink_swan;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 variables.$color_pink_swan;
}

// go up button
.goup-container {
    border-radius: 3px !important;
    border-color: rgba(variables.$color_mercury, 0.5) rgba(variables.$color_bon_jour, 0.5)
    variables.$color_mischka !important;
    border: 1px solid;
    @media #{variables.$small} {
        display: none !important;
    }
}
.goup-arrow {
    border-color: transparent transparent variables.$color_tuatara !important;
}

// reading time
.reading-time {
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}
